name: Test
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.on }}
    strategy:
      matrix:
        include:
        - { task: "test-libexactreal", environment: "libexactreal-flint-29", on: "ubuntu-24.04" }
        - { task: "test-libexactreal", environment: "libexactreal-flint-29", on: "macos-15-intel" }
        - { task: "test-libexactreal", environment: "libexactreal-flint-29", on: "macos-15" }
        - { task: "test-libexactreal", environment: "libexactreal-flint-30", on: "ubuntu-24.04" }
        - { task: "test-libexactreal", environment: "libexactreal-flint-30", on: "macos-15-intel" }
        - { task: "test-libexactreal", environment: "libexactreal-flint-30", on: "macos-15" }
        - { task: "test-libexactreal", environment: "env-address-sanitizer", on: "ubuntu-24.04" }
        - { task: "test-libexactreal", environment: "env-undefined-sanitizer", on: "ubuntu-24.04" }
        - { task: "test-libexactreal-valgrind", environment: "dev", on: "ubuntu-24.04" }
        - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-100", on: "ubuntu-24.04" }
        # The latest build of cppyy-cling is not compatible with the xcode that comes with macos 15 yet.
        # There is no runner available on GitHub anymore that supports a sufficiently old xcode.
        # - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-100", on: "macos-15-intel" }
        - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-100", on: "macos-14" }
        - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-101", on: "ubuntu-24.04" }
        # The latest build of cppyy-cling is not compatible with the xcode that comes with macos 15 yet.
        # There is no runner available on GitHub anymore that supports a sufficiently old xcode.
        # - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-101", on: "macos-15-intel" }
        - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-101", on: "macos-14" }
        - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-102", on: "ubuntu-24.04" }
        # The latest build of cppyy-cling is not compatible with the xcode that comes with macos 15 yet.
        # There is no runner available on GitHub anymore that supports a sufficiently old xcode.
        # - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-102", on: "macos-15-intel" }
        - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-102", on: "macos-14" }
        - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-103", on: "ubuntu-24.04" }
        # The latest build of cppyy-cling is not compatible with the xcode that comes with macos 15 yet.
        # There is no runner available on GitHub anymore that supports a sufficiently old xcode.
        # - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-103", on: "macos-15-intel" }
        - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-103", on: "macos-14" }
        - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-104", on: "ubuntu-24.04" }
        # The latest build of cppyy-cling is not compatible with the xcode that comes with macos 15 yet.
        # There is no runner available on GitHub anymore that supports a sufficiently old xcode.
        # - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-104", on: "macos-15-intel" }
        # SageMath 10.4 is not functional on Silicon due to https://github.com/conda-forge/sagelib-feedstock/issues/209
        # - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-104", on: "macos-14" }
        - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-105", on: "ubuntu-24.04" }
        # The latest build of cppyy-cling is not compatible with the xcode that comes with macos 15 yet.
        # There is no runner available on GitHub anymore that supports a sufficiently old xcode.
        # - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-105", on: "macos-15-intel" }
        - { task: "test-pyexactreal", environment: "pyexactreal-sagemath-105", on: "macos-14" }
        - { task: "test-pyexactreal-valgrind", environment: "dev", on: "ubuntu-24.04" }
        - { task: "distcheck", environment: "dev", on: "ubuntu-24.04" }
        # The latest build of cppyy-cling is not compatible with the xcode that comes with macos 15 yet.
        # There is no runner available on GitHub anymore that supports a sufficiently old xcode.
        # - { task: "distcheck", environment: "dev", on: "macos-15-intel" }
        - { task: "distcheck", environment: "dev", on: "macos-14" }
    steps:
      - uses: actions/checkout@v4
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.8.1
        with: { pixi-version: v0.42.1 }
      - name: install valgrind dependencies
        run: |
          sudo apt update
          sudo apt install -y libc6-dbg
        if: endsWith(matrix.task || '', 'valgrind')
      - name: run ${{ matrix.task }}
        run: pixi run -e ${{ matrix.environment }} ${{ matrix.task }}
      - uses: flatsurf/actions/show-logs@main
        if: ${{ always() }}
